.git
.next
.pnpm-store
.vercel
backups
blob-report
coverage
media
node_modules
out
playwright-report
test-results

.DS_Store
.env
.env*
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
